html {
    overflow-y: auto;
}

body {
    height: 100vh;
}

#venus-tab-view {
    display: block;
}

#editor-tab-view {
    display: none;
}

#simulator-tab-view {
    display: none;
}

#urlmaker-tab-view {
    display: none;
}

#editor-tab-view {
    overflow: hidden;
    width: 100%;
}

#asm-editor {
    width: 100%;
    height: 88vh;
    max-height: 88vh;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.section {
    padding: 0 1.5rem;
}

#bp-column {
    width: 3%;
}

#pc-column {
    width: 12%;
}

#mc-column {
    width: 15%;
}

#bc-column {
    width: 30%;
}

#oc-column {
    width: 40%;
}

#fn-column {
    width: 30%;
}

#ft-column {
    width: 10%;
}

#fo-column {
    width: 40%;
}

#program-listing {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

#program-listing-body {
    overflow: auto;
    height: 100%;
}

#program-listing-body tr.is-breakpoint {
    background-color: #FAEAE6;
}

#program-listing-body tr div.is-breakpoint {
    background: #eb355a;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
}

#program-listing-body tr.is-selected {
    background-color: #2154A6;
    color: white;
}

#program-listing-body tr {
    cursor: pointer;
}

#files-listing-body tr {
    cursor: pointer;
}

#program-listing-container {
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: auto;
}

#sidebar-listings-container {
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
}

#sidebar-listings-container > .panel {
    height: 100%;
}

#listing-panel {
    min-height: 95%;
}

#regs-tab-view {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

#fregs-tab-view {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    display: none;
}

#memory-tab-view {
    display: none;
}

#vdb-tab-view {
     display: none;
 }

#breakpoints-tab-view {
    display: block;
}

#watchpoints-tab-view {
    display: none;
}

#cache-tab-view {
    display: none;
}

#settings-tab-view {
    display: block;
}

#calling-convention-settings-tab-view {
    display: none;
}

#tracer-settings-tab-view {
    display: none;
}

#packages-tab-view {
    display: none;
}

#memory-table {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    margin: auto;
    background-color: white;
}

#memory-table th {
    text-align: center;
    vertical-align: middle;
    background-color: white;
}

#memory-table td {
    text-align: center;
    vertical-align: middle;
    background-color: white;
}

#console-output {
    height: 100%;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.tabs {
    margin-top: 1em;
}

#simulator-run.is-loading {
    pointer-events: auto;
}

#simulator-trace.is-loading {
    pointer-events: auto;
}

#regs-tab-view .input {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    border-width: 2px;
}

#regs-tab-view .field.is-horizontal {
    width: 100%;
}

#fregs-tab-view .input {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    border-width: 2px;
}

#fregs-tab-view .field.is-horizontal {
    width: 100%;
}

#cache-tab-view {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    line-height: 1em;
    font-size: 0.9em;
}

#cache-tab-view .input {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    border-width: 2px;
}

#cache-tab-view .field.is-horizontal {
    width: 100%;
}

#settings-tab-view {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    line-height: 1em;
    font-size: 0.9em;
}

#settings-tab-view .input {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    border-width: 2px;
}

.input.is-modified {
    border-color: #3273dc;
}

#addr-column {
    width: 40%;
}

.byte-column {
    width: 15%;
}

#regs-tab-view, #fregs-tab-view {
    border: 1px solid #dbdbdb;
}

#regs-tab-view > .panel-block, #fregs-tab-view > .panel-block {
  border: none;
}

#regs-tab-view > .panel-block > .field, #fregs-tab-view > .panel-block > .field {
  margin-bottom: 0em;
  padding: 0.5em;
}

.panel-block > .field {
    width: 100%;
}
.tile {
    position: relative;  /* only in order to make z-index used */
}
.tile {
    clear: both;
    /* display: table; not here */
    margin-top: 0px;
    padding: 0px;  /* any padding will screw up height calculation */
}

.tile:first-child {
    /* margin-top: 0;  if you do this, when the top piece is no longer
                       the top piece, it would need fixing in the code */
}

.tile .content {  /* this exists only so that we can have padding without messing up height calculations of tile */
    padding: .5em;
}


.scrubber {
    display: inline-block;
    border-top: 2px solid #ccc;
    width: 25px;
    padding-top: 2px;
    float: right;
    cursor: -webkit-grab;
    cursor: ns-resize;
}

.scrubber:before,
.scrubber:after {
    display: block;
    content: "";
    border-top: 2px solid #ccc;
    padding-top: 2px;
}

#display-settings {

}

#extern-link {
    color: black;
}

/* Chrome, Safari, Edge, Opera */
#no-arrow input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#no-arrow input[type=number] {
    -moz-appearance: textfield;
}

.terminal-drive {
    color: #42a2ff;
}

.terminal-drive-mounted-connected {
    color: #00b800;
}

.terminal-drive-mounted-disconnected {
    color: #ff7171;
}
