[submodule "src/main/kotlin/venusbackend"]
	path = src/main/kotlin/venusbackend
	url = https://github.com/61c-teach/venusbackend.git
[submodule "src/test/kotlin/venusbackend"]
	path = src/test/kotlin/venusbackend
	url = https://github.com/61c-teach/venusbackend-tests.git
